@{
    ViewBag.Title = "Test";
}

@model IList<Launch>

@foreach (var launch in ViewBag.Launches)
{
    <script>
        window.addEventListener("load", () => {
            countdown(
                "@launch.window_start",
                "cdwn_timer_@launch.id");
        });
    </script>
}

<div class="text-center">

    <div class="launch_container">
        @Model.
        @foreach (var launch in ViewBag.Launches)
        {
            <div class="launch">
                <div class="launch_img">
                    <img src="@launch.image">
                </div>
                <div class="launch_info">
                    <div class="launch_id">
                        <a asp-controller="RocketLaunches" asp-action="LaunchDetails" asp-route-launchID="@launch.id">@launch.name</a>
                    </div>
                    <div class="launch_start" id="cdwn_timer_@launch.id">
                        T- -:--:--:--
                    </div>
                    <div class="launch_status">
                        <h8>@launch.status.description</h8>
                    </div>
                    <div class="favourite_remove">
                        <a asp-controller="RocketLaunches" asp-action="RemoveFromFavourite" asp-route-launchId="@launch.id"><span>Remove</span> from favourites</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
