@{
    ViewData["Title"] = "Hello world";
    ViewBag.Title = "Test";
}

@model IList<Launch>

<div class="text-center">

    <div class="launch_container">
    @Model.
    @foreach (var test in ViewBag.Launches)
    {
        <div class="launch">
            <div class="launch_img">
                    <img src="@test.details.image">
            </div>
            <div class="launch_info">
                <div class="launch_id">
                    <a asp-controller="RocketLaunches" asp-action="LaunchDetails" asp-route-launchID="@test.details.id">@test.details.name</a>
                </div>
                <div class="launch_start">
                    @test.details.window_start
                </div>
                <div class="launch_status">
                    <h8>@test.details.status.description</h8>
                </div>
                <div>
                @{
                    if (test.isFavourite == true)
                    {
                        <a asp-controller="RocketLaunches" asp-action="RemoveFromFavourite" asp-route-launchId="@test.details.id">Remove</a>
                    } else
                    {
                        <a asp-controller="RocketLaunches" asp-action="AddToFavourite" asp-route-launchId="@test.details.id">Add to favourites</a>
                    }
                }
                </div>
            </div>
        </div>
    }
    </div>
</div>

