@{
    ViewData["Title"] = "Hello world";
    ViewBag.Title = "Test";
}

@model IList<Launch>

<div class="text-center">
    @*<button><a class="button" value="test" href="@Url.Action("onButton", "RocketLaunches")">Test</a></button>*@

    @Model.
    @foreach(var test in ViewBag.Launches)
    {
        <div class="myDiv">
            <h4>
            <a asp-controller="RocketLaunches" asp-action="LaunchDetails" asp-route-launchID="@test.id">@test.name</a>
            </h4>
            <h8>@test.window_start</h8>
            <br>
            <h8>@test.status.description</h8>
            @*<img src = "@test.image" width="300" height="300">*@
        </div>
    }
</div>

